.qa-created-deploy-token-section.created-deploy-token-container.info-well
  .well-segment
    %h5.gl-mt-0
      = s_('DeployTokens|Your new Deploy Token')

    .form-group
      .input-group
        = text_field_tag 'deploy-token-user', deploy_token.username, readonly: true, class: 'deploy-token-field form-control js-select-on-focus qa-deploy-token-user'
        .input-group-append
          = clipboard_button(text: deploy_token.username, title: s_('DeployTokens|Copy username'), placement: 'left')
      %span.deploy-token-help-block.gl-mt-2.text-success= s_("DeployTokens|This username supports access. #{link_to "What kind of access?", help_page_path("user/project/deploy_tokens")}")

    .form-group
      .input-group
        = text_field_tag 'deploy-token', deploy_token.token, readonly: true, class: 'deploy-token-field form-control js-select-on-focus qa-deploy-token'
        .input-group-append
          = clipboard_button(text: deploy_token.token, title: s_('DeployTokens|Copy deploy token'), placement: 'left')
      %span.deploy-token-help-block.gl-mt-2.text-danger= s_("DeployTokens|Use this token as a password. Save it. This password can *not* be recovered.")
