- expanded = expanded_by_default?
%section.qa-deploy-keys-settings.settings.no-animate#js-deploy-keys-settings{ class: ('expanded' if expanded), data: { qa_selector: 'deploy_keys_settings_content' } }
  .settings-header
    %h4= _('Deploy Keys')
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? 'Collapse' : 'Expand'
    %p
      Add deploy keys to grant server access to this repository.
      #{link_to "What are Deploy Keys?", help_page_path('user/project/deploy_keys/index')}
  .settings-content
    %h5.gl-mt-0
      = _('Add a deploy key for this project:')
    = render @deploy_keys.form_partial_path
    %hr
    #js-deploy-keys{ data: { endpoint: project_deploy_keys_path(@project), project_id: @project.id } }
