= form_for @application_setting, url: preferences_admin_application_settings_path(anchor: 'js-gitaly-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :gitaly_timeout_default, _('Default timeout'), class: 'label-bold'
      = f.number_field :gitaly_timeout_default, class: 'form-control gl-form-input'
      .form-text.text-muted
        Timeout for Gitaly calls from the GitLab application (in seconds).
    .form-group
      = f.label :gitaly_timeout_fast, _('Fast timeout'), class: 'label-bold'
      = f.number_field :gitaly_timeout_fast, class: 'form-control gl-form-input'
      .form-text.text-muted
        Fast operation timeout (in seconds).
    .form-group
      = f.label :gitaly_timeout_medium, _('Medium timeout'), class: 'label-bold'
      = f.number_field :gitaly_timeout_medium, class: 'form-control gl-form-input'
      .form-text.text-muted
        Medium timeout (in seconds). Should be a value between the Fast and the Default timeout.

  = f.submit _('Save changes'), class: "gl-button btn btn-confirm"
