= cache(header_cache_key, expires_in: CACHE_EXPIRY) do
  .content-block.oneline-block.files-changed.diff-files-changed.js-diff-files-changed
    .files-changed-inner
      .inline-parallel-buttons.d-none.d-md-block
        = expand_diffs_toggle
        = whitespace_toggle

        .btn-group
          = inline_diff_btn
          = parallel_diff_btn

      = render DiffsStatsComponent.new(diff_files: diff_files)

  = render DiffsOverflowWarningComponent.new(project: project, context: context, diffs: diffs)

.files{ data: { can_create_note: can_create_note? } }
  = render_diffs
