.content-block.oneline-block.files-changed.diff-files-changed.js-diff-files-changed
  .files-changed-inner
    .inline-parallel-buttons.d-none.d-md-block
      = expand_diffs_toggle
      = whitespace_toggle

      .btn-group
        = inline_diff_btn
        = parallel_diff_btn

    = render 'projects/diffs/stats', diff_files: diff_files

- if render_overflow_warning?(diffs)
  = render 'projects/diffs/warning', diff_files: diffs

.files{ data: { can_create_note: can_create_note? } }
  = render partial: 'projects/diffs/file', collection: diff_files, as: :diff_file, locals: { project: project, environment: @environment, diff_page_context: @page_context }
