- add_to_breadcrumbs _("Environments"), project_environments_path(@project)
- breadcrumb_title @environment.name
- page_title _("Environments")
- add_page_specific_style 'page_bundles/xterm'
- add_page_specific_style 'page_bundles/environments'
- add_page_specific_style 'page_bundles/ci_status'

#environments-detail-view{ data: { 
  name: @environment.name,
  id: @environment.id,
  external_url: @environment.external_url,
  can_update_environment: can?(current_user, :update_environment, @environment).to_s,
  can_destroy_environment: can_destroy_environment?(@environment).to_s,
  can_read_environment: can?(current_user, :read_environment, @environment).to_s, 
  can_stop_environment: can?(current_user, :stop_environment, @environment).to_s,
  can_admin_environment: can?(current_user, :admin_environment, @project).to_s,
  environment_metrics_path: environment_metrics_path(@environment),
  environments_fetch_path: project_environments_path(@project, format: :json),
  environment_edit_path: edit_project_environment_path(@project, @environment),
  environment_stop_path: stop_project_environment_path(@project, @environment),
  environment_delete_path: environment_delete_path(@environment),
  environment_cancel_auto_stop_path: cancel_auto_stop_project_environment_path(@project, @environment),
  environment_terminal_path: terminal_project_environment_path(@project, @environment),
  has_terminals: @environment.has_terminals?.to_s,
  is_environment_available: @environment.available?.to_s,
  auto_stop_at: @environment.auto_stop_at } }
  #environments-detail-view-header

  .environments-container
    - if @deployments.blank?
      .empty-state
        .text-content
          %h4.state-title
            = _("You don't have any deployments right now.")
          %p.blank-state-text
            = html_escape(_("Define environments in the deploy stage(s) in %{code_open}.gitlab-ci.yml%{code_close} to track deployments here.")) % { code_open: '<code>'.html_safe, code_close: '</code>'.html_safe }
          .text-center
            = link_to _("Read more"), help_page_path("ci/environments/index.md"), class: "gl-button btn btn-confirm"
    - else
      .table-holder.gl-overflow-visible
        .ci-table.environments{ role: 'grid' }
          .gl-responsive-table-row.table-row-header{ role: 'row' }
            .table-section.section-15{ role: 'columnheader' }= _('Status')
            .table-section.section-10{ role: 'columnheader' }= _('ID')
            .table-section.section-10{ role: 'columnheader' }= _('Triggerer')
            .table-section.section-25{ role: 'columnheader' }= _('Commit')
            .table-section.section-10{ role: 'columnheader' }= _('Job')
            .table-section.section-10{ role: 'columnheader' }= _('Created')
            .table-section.section-10{ role: 'columnheader' }= _('Deployed')

          = render @deployments

      = paginate @deployments, theme: 'gitlab'
