- force_priority = local_assigns.fetch(:force_priority, false)
- subject_or_group_defined = defined?(@project) || defined?(@group)
- show_label_issues_link = subject_or_group_defined && show_label_issuables_link?(label, :issues)
- show_label_merge_requests_link = subject_or_group_defined && show_label_issuables_link?(label, :merge_requests)

.label-name.gl-mr-3
  = render_label(label, tooltip: false)
.gl-w-full.gl-mr-3
  .gl-display-flex.gl-flex-wrap.gl-align-items-baseline.gl-mt-1
    - if label.description.present?
      .gl-flex-grow-1
        = markdown_field(label, :description)
    %ul.label-links.gl-m-0.gl-p-0
      - if show_label_issues_link
        %li.inline.gl-text-blue-600
          = link_to_label(label, css_class: 'gl-text-blue-600!') { _('Issues') }
      - if show_label_merge_requests_link
        &middot;
        %li.inline.gl-text-blue-600
          = link_to_label(label, type: :merge_request, css_class: 'gl-text-blue-600!') { _('Merge requests') }
      = render_if_exists 'shared/label_row_epics_link', label: label
      - if force_priority
        &middot;
        %li.js-priority-badge.inline.gl-ml-3
          .label-badge.gl-bg-blue-50= _('Prioritized label')
  - if @project
    .gl-my-3
      %span.label-badge.gl-bg-gray-50= label.project_label? ? label.project.full_name : label.group.full_name
