- return unless merge_trains_available?

.form-check
  = form.check_box :merge_trains_enabled, class: 'form-check-input', data: { qa_selector: 'merge_trains_checkbox' }
  = form.label :merge_trains_enabled, class: 'form-check-label' do
    = s_('ProjectSettings|Enable merge trains')
    .text-secondary.mb-2
      = s_('ProjectSettings|When a merge request is approved for merge, it\'s queued, and pipelines validate the combined results of the source and target branches before merge.')
      = link_to "What are merge trains?",
        help_page_path('ci/merge_request_pipelines/pipelines_for_merged_results/merge_trains/index'),
        target: '_blank',
        rel: 'noopener noreferer'
