%p
  = _('Your GitLab instance has reached the maximum allowed %{user_doc_link} set by an instance admin.').html_safe % { user_doc_link: link_to(_('user cap'), @url_to_user_cap) }

%p
  %b= _('What does this mean?')
  = _('Users can still be invited to your instance and/or add themselves if permitted based on your settings. They will not have access to your instance, nor count towards your subscribed seat count until you %{approve_link}.').html_safe % { approve_link: link_to(_('approve them'), @url_to_approve) }

%p
  %b= _('What can I do?')
  = _('Here are some helpful links to help you manage your instance:')

%ul
  %li= link_to _('View pending member requests'), @url_to_pending_users
  %li= link_to _('Manage (accept/reject) pending user sign ups'), @url_to_manage_pending_users
  %li= link_to _('Adjust the user cap setting on your instance'), @url_to_adjust_user_cap

%p
  = _('If you have any questions about this process please consults our %{doc_link} or %{support_link}.').html_safe % { doc_link: link_to(_('docs'), @url_to_docs), support_link: link_to(_('contact our support team'), @url_to_support) }
