#content
  = email_default_heading("Hello, #{@recipient.name}!")
  %p
    = instance_access_request_text(@member, format: :html)
  %p
    Username: #{@member.username}
  %p
    Email: #{@member.email}
  %p
    = instance_access_request_link(@member, format: :html)
