- edit = local_assigns.fetch(:edit, false)
- form_path = edit ? profile_saved_reply_path(@saved_reply) : profile_saved_replies_path

= form_for @saved_reply, url: form_path do |f|
  .form-group
    = f.label :title, 'Title'
    = f.text_field :title, class: 'form-control', autofocus: true, required: true
  .form-group
    = f.label :title, 'Note'
    = f.text_area :note, class: 'form-control', required: true
  .gl-mt-3
    = f.submit 'Save', class: 'btn gl-button btn-success'
