#content
  = email_default_heading("Hello, #{@resource.name}!")
  %p
    = user_access_request_text(@resource, format: :html)
  %p
    Username: #{@resource.username}
  %p
    Email: #{@resource.email}
  %p
    = user_access_request_link(format: :html)